<div class ="sake-new-image">
<div class = "sake-new-index">
<h3>新規投稿</h3>

<%= form_with(model: @sake, url: sakes_path, local: true) do |f| %>  
  <div class = "toko-field">
    <div class = "toko-naiyo">
      <%= f.label :カクテル %>
      <%= f.text_field :cocktail, :size => 30 %><br>
    </div>
    <div class = "toko-naiyo">
      <%= f.label :body %>
      <%= f.text_field :body, :size => 30 %>
    </div>
    <div class = "toko-naiyo">
      <%= f.label :画像 %>
      <%= f.file_field :image %>
    </div>
    <div class = "toko-naiyo">
      <%= f.text_field :tag_name, placeholder: "ハッシュタグ" %><br>
    </div>
    <%= f.submit "酒投稿" %>
  </div>
<% end %>
</div>
</div>