<h1>かねち頑張ろ！！</h1>
<p>新規投稿</p>

<%= form_with(model: @sake, url: sakes_path, local: true) do |f| %>  
  <div class = "field">

    <%= f.label :カクテル %>
    <%= f.text_field :cocktail, :size => 30 %><br>

    <%= f.label :body %>
    <%= f.text_field :body, :size => 30 %><br>

    <%= f.label :画像 %>
    <%= f.file_field :image %><br>

    <%= f.text_field :tag_name, placeholder: "ハッシュタグ" %><br>

    <%= f.submit "酒投稿" %>
    
  </div>
<% end %>
<%= link_to "top", sakes_path %>